.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
  width: 100%;
  max-width: 120vw;
}

.aron-kodesh {
  text-align: center;
  background: rgb(140, 102, 12);
  padding: 1vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  font-size: 1vw;
}

.stage {
  background: rgb(140, 102, 12);
  text-align: center;
  padding: 1vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  margin: auto;
  width: 8vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "col-left front-left-space aron_stage front-right-space col-right"
    "col-left col-left_right aron_stage col-right-left col-right"
    "col-left back-left-space aron_stage back-right-space col-right";
  gap: 1vw;
  width: 100%;
  justify-items: center;
}

.space{
  width: 20vw;
  height: 15vw;
}

.front-left-space{
  grid-area: front-left-space;
}
.front-right-space{
  grid-area: front-right-space;
}
.back-left-space{
  grid-area: back-left-space;
}
.back-right-space{
  grid-area: back-right-space;
}

.col-left{
  grid-area: col-left;
}

.col-left_right{
  grid-area: col-left-right;
}
.col-right-left{
  grid-area: col-right-left;
}
.col-right{
  grid-area: col-right;
}

.aron_stage{
  grid-area: aron_stage;
  display: flex;
  flex-direction: column;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 20vw;
}

.table {
  display: flex;
  gap: 0.3vw;
  background: #f0f0f0;
  padding: 0.3vw;
  border-radius: 0.3vw;
  border: 0.1vw solid black;
  width: fit-content;
}

.seat {
  width: 4vw;
  min-height: 4vw;
  font-size: 1vw;
  background-color: lightgray;
  border: 0.1vw solid black;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seat.selected {
  background-color: dodgerblue;
  color: white;
}

.submit-btn {
  padding: 1vw 2vw;
  font-size: 1vw;
  color: white;
  background-color: #5c8c8c;
  border: none;
  cursor: pointer;
  height: max-content;
  border-radius: 2vw;
  margin: 2vw;
  width: 20vw;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.bottom{
  display: grid;
  grid-template-areas: 
    "select-group-btns wall partition"
    "select-group-btns wall note"
    "select-group-btns b submit";
  grid-template-columns: 32vw 1vw 27vw;
  grid-template-rows: 2vw 14vw 12vw;
  gap: 1vw;
  width: 100%;
}

.submit-container{
  display: flex;
  justify-content: center;
  grid-area: submit;
  width: 60vw;
  margin-top: 8vw;
}

.partition {
  background: rgb(140, 102, 12);
  text-align: center;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  width: 60vw;
  height: 2vw;
  font-size: 1vw;
  grid-area: partition;
}

.wall{
  height: 15vw;
  background-color: #6a6a6a;
  width: 2vw;
  margin-left: auto;
  grid-area: wall;
}

.note-container {
  padding: 1vw;
  box-sizing: border-box;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
  min-width: 3vw;
  margin: 0vw 1vw;
}

.note-input {
  direction: rtl;
  width: 100%;
  padding: 0.5vw;
  box-sizing: border-box;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
  resize: vertical;
  font-size: 1vw;
  pointer-events: auto;
}

.select-group-btns{
  grid-area: select-group-btns;
}



.select-group-btn {
  justify-content: end;
  display: flex;
  width: 90%;
  margin: 0.5vw;
  padding: 0.8vw 1.2vw;
  padding-right: 10vw;
  font-size: 1.2vw;
  font-weight: bolder;
  border-radius: 0.5vw;
  border: none;
  background-color: lightpink;
  cursor: pointer;
  transition: background-color 0.3sease;

  &:hover {
    background-color: rgb(250, 152, 167);
  }


}

fa-icon{
  margin-right: 2vw;
}

.select-all{
  background-color: #e46276;
  color: white;
}

.select-all:hover{
  background-color: #a73f4e;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  float: right;
  direction: rtl;
  grid-area: note;
  width: 60vw;
}
label {
  margin: 1vw;
  margin-bottom: 0vw;
}
input {
  padding: 1vw;
  border-radius: 0.5vw;
  outline: none;
  transition: 0.3s;
  margin: 1vw;
}
input:focus {
  border-color: #2980b9;
  box-shadow: 0vw 0vw 0.8vw rgba(52, 152, 219, 0.5);
}

.name{
    font-size: 0.5vw;
    line-height: 1vw;
}

.edit-seat{
  border-radius: 0.5vw;
  outline: none;
  transition: 0.3s;
  margin-left: 0.2vw;
  font-size: 2vw;
  margin-right: 0.2vw;
  text-align: center;
  font-size: 1vw;
}