.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
  width: 100%;
  max-width: 120vw;
}

.aron-kodesh {
  text-align: center;
  background: darkgray;
  padding: 1vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  font-size: 1vw;
}

.stage {
  background: #ddd;
  text-align: center;
  padding: 1vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  margin: auto;
  width: 8vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
}


/* ✅ כאן נגדיר את הפריסה עם Grid Areas */
.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "col-left front-left-space aron_stage front-right-space col-right"
    "col-left col-left_right aron_stage col-right-left col-right"
    "col-left back-left-space aron_stage back-right-space col-right";
  gap: 1vw;
  width: 100%;
  justify-items: center;
}

.space{
  width: 20vw;
  height: 15vw;
}

.front-left-space{
  grid-area: front-left-space;
}
.front-right-space{
  grid-area: front-right-space;
}
.back-left-space{
  grid-area: back-left-space;
}
.back-right-space{
  grid-area: back-right-space;
}

.col-left{
  grid-area: col-left;
}

.col-left_right{
  grid-area: col-left-right;
}
.col-right-left{
  grid-area: col-right-left;
}
.col-right{
  grid-area: col-right;
}

.aron_stage{
  grid-area: aron_stage;
  display: flex;
  flex-direction: column;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 20vw;
}



/* שולחנות */
.table {
  display: flex;
  gap: 0.3vw;
  background: #f0f0f0;
  padding: 0.3vw;
  border-radius: 0.3vw;
  border: 0.1vw solid black;
  width: fit-content;
}

/* כיסאות */
.seat {

  width: 4vw; // גודל יחסי
  height: 4vw;
  line-height: 4vw;
  font-size: 1vw;
  background-color: lightgray;
  border: 0.1vw solid black;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.seat.selected {
  background-color: blue;
  color: white;
}

.submit-btn {
  padding: 1vw 2vw;
  font-size: 1vw;
  background-color: #d8a7fc;
  border: none;
  cursor: pointer;
  height: max-content;
  border-radius: 2vw;
  margin: 3vw;
  width: 20vw;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.select-group-btn {
  width: 90%;
  margin: 1vw;
  padding: 0.8vw;
  font-size: 1vw;
}

.submit-container{
  display: flex;
  justify-content: center;
}

.partition-container{
  display: grid;
  grid-template-areas: 
    "empty wall partition"
    "empty wall c";
  grid-template-columns: 40vw 1vw 48vw;
  grid-template-rows: 2vw 20vw;
  gap: 1vw; /* השארנו רק את ה-gap האופקי */
  width: 100%;
  justify-content: right;
  width: 100%;
  grid-row-gap: 0; /* הסרת ה-gap האנכי */
}

.partition {
  background: rgb(245, 175, 13);
  text-align: center;
  font-weight: bold;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
  width: 60vw;
  height: 2vw;
  font-size: 1vw;
  grid-area: partition;
}

.wall{
  height: 15vw;
  background-color: #6a6a6a;
  width: 2vw;
  margin-left: auto;
  grid-area: wall;
}



/* סגנונות להערה */
.note-container {
  padding: 1vw;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  grid-area: c;
  min-width: 3vw;
  align-self: start; /* יישור למעלה */
}

.note-input {
  direction: rtl;
  width: 100%;
  height: 10vw;
  // height: 15vw;
  padding: 0.5vw;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; // לאפשר שינוי גודל אנכי
  font-size: 1vw;
}