<div class="container">

  @if (isAdmin){
    <input type="checkbox" (change)="toggleAdminMode()">
  }
  <!-- שאר השורות -->
  <div class="row">
    <div class="column col-left">
      <div class="table" *ngFor="let table of column1">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          <span>
            {{ seat.number }}
          </span>
          <br>
          @if( seat.names){
            @for(name of seat.names; track name){
              <span class="name">
                {{ name }}
              </span>
              <br>
            }
          }
        </div>
      </div>
    </div>

    <div class="space front-left-space"></div>
    <div class="space front-right-space"></div>

    <!-- רווח בין העמודות האמצעיות -->
    <div class="column col-left-right">
      <div class="table" *ngFor="let table of column2">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          <span>
            {{ seat.number }}
          </span>
          <br>
          @if( seat.names){
            @for(name of seat.names; track name){
              <span class="name">
                {{ name }}
              </span>
              <br>
            }
          }
        </div>
      </div>
    </div>

    <!-- מעבר מרווח עם הבמה -->
    <!-- <div class="spacer "></div> -->
    <div class="aron_stage">
      <div class="aron-kodesh">ארון קודש</div>
      <div class="stage">במה</div>
    </div>
    <!-- <div class="spacer"></div> -->
    <!-- <div class="space back-left-space"></div>
    <div class="space back-right-space"></div> -->
    <!-- עמודה שלישית -->
    <div class="column col-right-left">
      <div class="table" *ngFor="let table of column3">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          <span>
            {{ seat.number }}
          </span>
          <br>
          @if( seat.names){
            @for(name of seat.names; track name){
              <span class="name">
                {{ name }}
              </span>
              <br>
            }
          }
        </div>
      </div>
    </div>

    <!-- עמודה רביעית -->
    <div class="column col-right">
      <div class="table" *ngFor="let table of column4">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          <span>
            {{ seat.number }}
          </span>
          <br>
          @if( seat.names){
            @for(name of seat.names; track name){
              <span class="name">
                {{ name }}
              </span>
              <br>
            }
          }
        </div>
      </div>
    </div>
  </div>

   <div class="bottom">
    <div class="form-group">
      <div class="input-name">
        <label for="full-name">שם מלא:</label>
        <input  [(ngModel)]="fullName"  type="text" id="full-name" placeholder="הכנס את שמך המלא">
      </div>
      <div class="note-container">
        <textarea [(ngModel)]="noteInput"  class="note-input" placeholder="הוסף הערה..."></textarea>
      </div>
    </div>
     <div class="wall"></div>
     <div class="partition">מחיצה</div>
     <div class="buttons">
      <div class="select-group-btns">
        <button class="select-all select-group-btn btn" (click)="selectAll()">
          <fa-icon [icon]="faCheckDouble"></fa-icon>
          בחר הכל
        </button>
        <button class="select-group-btn btn" (click)="selectLeftColumn()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          עמודה שמאל
        </button>
        <button class="select-group-btn btn" (click)="selectLeftRightColumn()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <fa-icon [icon]="faColumns"></fa-icon>
          עמודה אמצע שמאל
        </button>
        <button class="select-group-btn btn" (click)="selectSpace()">
          <fa-icon [icon]="faWalking"></fa-icon>
          ליד מעבר
        </button>
        <button class="select-group-btn btn" (click)="selectWindows()">
          <fa-icon [icon]="faWindowMaximize"></fa-icon>
          כיסא ליד חלון
        </button>
        <button class="select-group-btn btn" (click)="selectRightLeftColumn()">
          <fa-icon [icon]="faColumns"></fa-icon>
          <fa-icon [icon]="faArrowRight"></fa-icon>
          עמודה אמצע ימין
        </button>
        <button class="select-group-btn btn" (click)="selectRightColumn()">
          <fa-icon [icon]="faArrowRight"></fa-icon>
          עמודה ימין
        </button>
        <button class="select-group-btn clear-all btn" (click)="clearAll()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
          נקה הכל
        </button>
      </div>
    </div>
       <div class="submit-container">
    <button class="submit-btn btn" (click)="submitSelection()">הגש טופס</button>
  </div>
   </div>

</div>
