<div class="container">

  


  <!-- שאר השורות -->
  <div class="row">
    <div class="column col-left">
      <div class="table" *ngFor="let table of column1">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          {{ seat.number }}
        </div>
      </div>
    </div>

    <div class="space front-left-space"></div>
    <div class="space front-right-space"></div>

    <!-- רווח בין העמודות האמצעיות -->
    <div class="column col-left-right">
      <div class="table" *ngFor="let table of column2">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          {{ seat.number }}
        </div>
      </div>
    </div>

    <!-- מעבר מרווח עם הבמה -->
    <!-- <div class="spacer "></div> -->
    <div class="aron_stage">
      <div class="aron-kodesh">ארון קודש</div>
      <div class="stage">במה</div>
    </div>
    <!-- <div class="spacer"></div> -->
    <!-- <div class="space back-left-space"></div>
    <div class="space back-right-space"></div> -->
    <!-- עמודה שלישית -->
    <div class="column col-right-left">
      <div class="table" *ngFor="let table of column3">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          {{ seat.number }}
        </div>
      </div>
    </div>

    <!-- עמודה רביעית -->
    <div class="column col-right">
      <div class="table" *ngFor="let table of column4">
        <div *ngFor="let seat of table" class="seat"
          [ngClass]="{ 'selected': seat.selected }"
          (click)="toggleSeat(seat)"
          id="{{seat.number}}">
          {{ seat.number }}
        </div>
      </div>
    </div>
  </div>

   <div class="partition-container">
    <div class="note-container">
      <textarea #noteInput  class="note-input" placeholder="הוסף הערה..."></textarea>
    </div>
     <div class="wall"></div>
     <div class="partition">מחיצה</div>
     <div class="buttons">
      <div class="select-group-btns">
        <button class="select-group-btn btn" (click)="clearAll()">נקה הכל</button>
        <button class="select-group-btn btn" (click)="selectLeftColumn()">עמודה שמאל</button>
        <button class="select-group-btn btn" (click)="selectLeftRightColumn()">עמודה אמצע שמאל</button>
        <button class="select-group-btn btn" (click)="selectSpace()"> ליד מעבר </button>
        <button class="select-group-btn btn" (click)="selectWindows()">כיסא ליד חלון</button>
        <button class="select-group-btn btn" (click)="selectRightLeftColumn()">עמודה אמצע ימין</button>
        <button class="select-group-btn btn" (click)="selectRightColumn()">עמודה ימין</button>
        <button class="select-group-btn btn" (click)="selectAll()">בחר הכל </button>
      </div>
    </div>
    <div class="submit-container">
      <button class="submit-btn btn" (click)="submitSelection()">הגש</button>
    </div>
   </div>
   <!-- <div class="bottom">

   </div> -->


</div>
